<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760203221754-sonf2fjmh8l2fnave4ketpu1trkmhnnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760203221754-sonf2fjmh8l2fnave4ketpu1trkmhnnq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>760203221754-j0ng3tgb47onmm7mj7f0cobpsosvrjnt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTb905atGl2z56GltemQp1KpXTASRTEgM</string>
	<key>GCM_SENDER_ID</key>
	<string>760203221754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doori.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>doori-flutter-login</string>
	<key>STORAGE_BUCKET</key>
	<string>doori-flutter-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760203221754:ios:9417bc0595e7221270c743</string>
	<key>DATABASE_URL</key>
	<string>https://doori-flutter-login-default-rtdb.firebaseio.com</string>
</dict>
</plist>